.filterbar{
    font-family: 'Cormorant Garamond', serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 20px;
}
.inputsearch{
    height: 21px;
    border-radius: 48px;
    border: 0.5px solid lightgrey;
    width: 13%;
    padding-right: 32px;
    padding-left: 8px;
    cursor: pointer;
}
.filterDiet{
    height: 21px;
    border-radius: 48px;
    border: 0.5px solid lightgrey;
    width: 26%;
    padding-right: 32px;
    padding-left: 8px;
    cursor: pointer;
}
