.title{
    font-family: 'Cormorant Garamond', serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 20px;
}
.inputformcreate{
    height: 21px;
    border-radius: 48px;
    border: 0.5px solid lightgrey;
    width: 26%;
    padding-right: 32px;
    padding-left: 8px;
    cursor: pointer;
}
.buttons{
    border-radius: 12px;
    border-bottom: 2px dashed #c3c3c3;
    background-color: #f3f2ee;
    height: 42px;
    width: 58px;
    text-align: center;
    margin-top: 15px;
}